:root{
  --blanco: #FFFFFF;
  --oscuro: #000000;
  --primario: #61D57B;
  --primarioClaro: #1CB63E;
  --primarioSegundo: #056C1A;
  --secundario: #F7D970;
  --terciario: #CF150C;
  --gris: #757575;
  --grislaro: #DFE9F3;
}

body{
    background-color:lightgrey;
}

/*--------------------------------------------------*/
/*CABECERA*/
header{
    background-color:var(--primarioClaro);
}
@media (min-width: 768px){ 
  header{
    background-color:var(--primarioClaro);
  }
  
}
.titulo{
  color:var(--secundario);
  font-family: var(--fuente);
}
/*--------------------------------------------------*/
/*MENU*/

.sidepanel {
    background-color: var(--primarioClaro); /* Black*/
  }
   
  /* The sidepanel links */
  .sidepanel a {
    color: var(--secundario);
  }
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    color: var(--secundario);
    background-color: var(--primarioClaro);
  }
  @media (min-width: 768px){ 
    .openbtn {
        color: var(--secundario);
      }
  }
  
  .openbtn:hover {
    background-color: var(--primarioClaro);
  }



/*--------------------------------------------------*/
/*BOTON SUBIR*/
#myBtn {
 
  background-color: var(--primarioClaro);
  color: var(--secundario);
  
}

#myBtn:hover {
  background-color: var(--secundario);
  color: var(--primarioClaro);
}

/*--------------------------------------------------*/
/*FOOTER*/
.footer{
  background-color: var(--terciario);
  width: 100%;
  height: 4rem;
  color: var(--secundario);
}

