:root{
    --blanco: #FFFFFF;
    --oscuro: #000000;
    --primario: #F16D6D;
    --primarioClaro: #CF150C;
    --primarioSegundo: #951717;
    --secundario: #F7D970;
    --tercero: #61D57B;
    --gris: #757575;
    --fuente-principal: 3.8rem;
    --grislaro: #DFE9F3;
    --fuente: 'Lato', sans-serif;
    --pais:rgba(0, 0, 0, 0.1);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;/*Hack Box Model*/
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;/*Predeterminar medidas para padding*/
}
body{
    font-size: 16px;
    font-family: var(--fuente);
    background-color:lightgrey;
    margin: 0;
    
}

/********************************CUERPO****************************************/
.contenido{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.imagen{
    display: grid;
    grid-column: 1/2;
    filter: blur(2px);
    position:absolute;
    width: 100%;
    max-height: 100%;
    z-index: -1;
}
.formulario{
    display: grid;
    grid-column: 1/3;
    background-color: black;
    color: white;
    border-radius: 5rem;
    width: 50%;
    padding-top: 2rem;
    margin: 4rem 0 0 45rem ;
}

/*form{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    text-align: center;
    width: 100%;
    height: 50%;
    
}*/
form{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    height: 80rem;
    text-align: center;
}

.nom{
    grid-row: 1/2;
    width: 100%;
    height: 2rem;
    padding: 0;
}
.correo{
    grid-row: 2/3;
    width: 100%;
    height: 5rem;
    padding: 0;
}
.telf{
    grid-row: 3/4;
    width: 100%;
    height: 10rem;
    padding: 0;
}
.mensaje{
    grid-row: 4/5;
    width: 100%;
    height: 30rem;
    padding: 0;
}
.btn{
    grid-row: 5/6;
    width: 100%;
    height: 10rem;
    padding: 0;
}
fieldset{
    width: 100%;
    height: 100%;
}
label{
    display: block;
    text-align: center;
    padding:2rem;
    text-transform: uppercase;
    font-weight:500;
}
input{
    width:50%;
    padding: 1rem;
    border-radius: 1.5rem;
    border: 1px solid var(--gris);
    text-align: center;
}
@media (max-width: 498px){ 
    input{
        width:90%;
        padding: 1rem;
        border-radius: 1.5rem;
        border: 1px solid var(--gris);
    }
}
textarea{
    width: 40%;
    height: 80%;
    text-align: center;
}
@media (max-width: 768px){ 
    textarea{
        width: 100%;
        height: 80%;
        text-align: center;
    }
}
.boton{
    width: 20%;
    height: 5rem;
    border-radius: 10px;
    border: 1px solid var(--gris);
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
}
@media (max-width: 498px){ 
    .boton{
        width: 50%;
        height: 5rem;
        border-radius: 10px;
        border: 1px solid var(--gris);
        text-transform: uppercase;
        font-weight: 300;
        cursor: pointer;
    }
}

.footer{
    position: fixed;
    text-align: center;
    height: 5rem;
}