:root{
    --blanco: #FFFFFF;
    --oscuro: #000000;
    --gris: #757575;
    --grisclaro: lightgrey;
    --fuente: 'Lato', sans-serif;
    --pais:rgba(0, 0, 0, 0.1);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;/*Hack Box Model*/
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;/*Predeterminar medidas para padding*/
}
body{
    font-size: 16px;
    font-family: var(--fuente);
    background-color:var(--grisclaro);
    margin: 0;    
}


/*--------------------------------------------------*/
/*CABECERA*/
header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    background-color:var(--oscuro);
    margin:0px;
    height: 8rem;
}
@media (min-width: 768px){ 
  header{
    background-color:var(--oscuro);
    height: 8rem;
  }
  
}
.titulo{
  grid-column: 2 / 3;    
  text-decoration: none;
  text-align: center; 
  color:var(--blanco);
  font-family: var(--fuente);
}
.imgTitulo{    
  grid-column: 3 / 4;
  max-height: 8rem;
  max-width: 8rem;
}
@media (min-width: 768px){ 
  .imgTitulo{        
    max-height: 30rem;
    max-width: 8rem;
  }
}
/*--------------------------------------------------*/
/*MENU*/
.burger{
    display: grid;
    grid-row: 1 / 2;   
    align-items: center;
    padding-left:1rem;
    margin-top: 0;
    width: 30%;
}
@media (min-width: 768px){ 
    .burger{
        display: grid;
        grid-row: 1 / 2;   
        align-items: center;
        padding-left:1rem;
        margin-top: 0;
    }
}
.sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: var(--oscuro); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    color: var(--blanco);
    border: none; 
    padding: 1rem;
    background-color: var(--oscuro);
  }
  @media (min-width: 768px){ 
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        color: var(--blanco);
        border: none; 
        width: 25rem;
        padding: 1rem;
      }
  }
  
  .openbtn:hover {
    background-color: var(--gris);
    opacity: 0.6;
  }
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

/*---------------------------------------------------------------------------------------*/
/*MAIN*/
/*IMAGENES PAISES*/

/*Div principal que contiene todos los paises*/
.paises{
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;  
  height: min(99%, 150rem);
  margin-bottom: 5rem;
}
@media (min-width: 900px) {
  .paises{
    grid-template-columns: repeat(3, 1fr) ;
  }
}
/*Div que contiene cada pais*/
.pais{
  margin: 1rem 1rem 0rem 1rem;
  padding: 1rem 1rem 0rem 1rem;
}
.imgPaises{
  border-radius: 1.5rem; 
  width: 100%;
  gap: 2rem;
  
}
@media (min-width: 900px){ 
  .imgPaises{
    width: 100%;
    border-radius: 1.5rem; 
  } 
}
/*--------------------------------------------------*/
/*FOOTER*/
footer{
  background-color: var(--oscuro); 
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  color: var(--blanco);
  text-align: center;
}
/*--------------------------------------------------*/
/*ICONOS*/
.iconos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  cursor: pointer;
}

/*--------------------------------------------------*/
/*BOTON SUBIR*/
#myBtn {
  display: none;
  position: fixed;
  right:5rem;
  bottom: 8rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--oscuro);
  color: var(--blanco);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

 /*--------------------------------------------------*/




